<?xml version="1.0"?>
<!--
/**
* @copyright Copyright (c) 2018 www.innovadeltech.com
*/
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Innovadeltech_Socialshare" setup_version="0.2.0" active="true">
    </module>
</config>